<h4>{{ leyenda }} - {{ progreso }}</h4>
<div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click) = "cambiarValor(-5)">
        <i class="mdi mdi-minus"></i>
      </button>
    </span>
    <!-- Agregamos un listener (ngModelChange) que nos va servir para capturar el valor del input -->
    <input #txtProgreso type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChange($event)" min="1" max="100">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
        <i class="mdi mdi-plus"></i>
      </button>
    </span>
</div>